---
import Icon from './Icon.astro';
import ThemeToggle from './ThemeToggle.astro';
import type { iconPaths } from './IconPaths';
import '../styles/Nav.css';
import MenuButton from '../components/MenuButton';

/** Main menu items */
const textLinks: { label: string; href: string }[] = [
	{ label: 'Home', href: '/' },
	{ label: 'Work', href: '/work/' },
	{ label: 'About', href: '/about/' },
	{ label: 'Testimonials', href:'/testimonials/'},
	{ label: 'Pricing', href:'/pricing/'},
	{ label: 'Contact', href:'/contact/'}
];

/** Icon links to social media */
const iconLinks: { label: string; href: string; icon: keyof typeof iconPaths }[] = [
	{ label: 'Twitter', href: 'https://x.com/?lang=en', icon: 'twitter-logo' },
	{ label: 'YouTube', href: 'https://www.youtube.com', icon: 'youtube-logo' },
	{ label: 'tiktok', href: 'https://www.tiktok.com/foryou?lang=en', icon: 'tiktok-logo'},
	{ label: 'instagram', href:'https://www.instagram.com/itsethpgreene/', icon: 'instagram-logo'},
];
---

<nav>
	<div class="menu-header">
		<a href="/" class="site-title">
			<Icon icon="home" color="var(--accent-regular)" size="2.5em" gradient />
			<h3>Primal Advertisement</h3>
		</a>

        <MenuButton client:load>
          <button class="menu-button" aria-expanded="false">
            <span class="sr-only">Menu</span>
            <Icon icon="list" />
          </button>
        </MenuButton>
	</div>
	<noscript>
		<ul class="nav-items">
			{
				textLinks.map(({ label, href }) => (
					<li>
						<a
							aria-current={Astro.url.pathname === href}
							class:list={[
								'link',
								{
									active:
										Astro.url.pathname === href ||
										(href !== '/' && Astro.url.pathname.startsWith(href)),
								},
							]}
							href={href}
						>
							{label}
						</a>
					</li>
				))
			}
		</ul>
	</noscript>
	<noscript>
		<div class="menu-footer">
			<div class="socials">
				{
					iconLinks.map(({ href, icon, label }) => (
						<a href={href} class="social">
							<span class="sr-only">{label}</span>
							<Icon icon={icon} />
						</a>
					))
				}
			</div>
		</div>
	</noscript>
	<div id="menu-content" hidden>
		<ul class="nav-items">
			{
				textLinks.map(({ label, href }) => (
					<li>
						<a
							aria-current={Astro.url.pathname === href}
							class:list={[
								'link',
								{
									active:
										Astro.url.pathname === href ||
										(href !== '/' && Astro.url.pathname.startsWith(href)),
								},
							]}
							href={href}
						>
							{label}
						</a>
					</li>
				))
			}
		</ul>
		<div class="menu-footer">
			<div class="socials">
				{
					iconLinks.map(({ href, icon, label }) => (
						<a href={href} class="social">
							<span class="sr-only">{label}</span>
							<Icon icon={icon} />
						</a>
					))
				}
			</div>

			<div class="theme-toggle">
				<ThemeToggle />
			</div>
		</div>
	</div>
</nav>